body{
    background: url('../recursos/fdo.jpg')no-repeat center;

}

.Frontal, .Trasero {
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
}
.carta.girar {
    transform: rotateY(180deg);
}
.Frontal {
    transform: rotateY(180deg);
}

.titulo{
    width: 100%;
    height: 80px;
    background:linear-gradient(to bottom,black,rgb(12, 12, 12),rgb(66, 66, 66), rgb(12, 12, 12),black);
     border: red 1px solid;
    
}
h1{
    color:rgb(255, 0, 64);
    text-align: center;
}
.menuder{
    padding-left: 18px;
    width: 35%;
    height: 400px;
    float: left;
}
.cuerpo{
    width: 400px;
    height: 400px;
    background: black;
    border: red 1px solid;
    float: left;
}
div{
   color:white;

}
.menuizq{
    width: 30%;
    height: 400px;
    background:linear-gradient(to left, black,rgb(2, 2, 58),rgb(21, 3, 99),rgb(2,2,58),black);
    border: red 1px solid;
    float: left;
}
.pie h3{
    text-align: center;
}
.pie{
    width: 100%;
    height: 80px;
    background:linear-gradient(to bottom,black,rgb(12, 12, 12),rgb(21, 3, 99), rgb(12, 12, 12),black);
    border: red 1px solid;
    clear: both;
}
.cuerpo div{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:47px 47px;  
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
.nofloats{
    clear:both;
}
p{
    text-align: center;
}
.menuder p{
    text-align: justify;
}
.menuizq p{
    padding-left: 20px;    text-align: left;
}
.relleno{
   background-color: blue;
}











/*
#cuadro1{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro2{
    background: url('../recursos/atras2.jpg')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro3{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro4{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro5{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro6{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro7{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro8{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}

#cuadro9{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro10{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro11{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro12{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro13{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro14{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro15{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro16{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro17{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro18{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro19{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro20{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro21{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro22{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro23{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro24{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}

#cuadro25{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro26{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro27{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro28{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro29{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro30{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro31{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro32{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro33{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro34{
    background: url('../recursos/atras2.jpg')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro35{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro36{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro37{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro38{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro39{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro40{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro41{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro42{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro43{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro44{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro45{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro46{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro47{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro48{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro49{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}#cuadro50{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro51{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro52{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro53{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro54{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro55{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro56{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro57{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro58{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}

#cuadro59{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro60{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro61{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro62{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}
#cuadro63{
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: blue;
}
#cuadro64{
    background: url('../recursos/atras.png')no-repeat center;
    background-size:45px 45px;
    float: left;
    width: 48px;
    height: 48px;
    border:1px solid black;
    background-color: red;
}*/
